/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Sintony', sans-serif;*/

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.accent-color {
  color: #fea100;
}

a {
  cursor: pointer;
}

header {
  background-color: #ffffff;
  padding: 22px 0;
}

header .main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu-with-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu-with-cta ul {
  display: flex;
  margin: 0 32px 0;
  padding: 0;
}

header .menu-with-cta li {
  list-style: none;
  margin-right: 32px;
}

header .menu-with-cta li:last-child {
  margin-right: 0;
}

header .menu-with-cta a {

  color: #2c465a;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

header .shopping-cart-option {
  margin-right: 32px;
}

header a.cta-button {
  padding: 6px 17px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: #fea100;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

header a.cta-button:after {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border-radius: 6px;
  border: 3px solid #fea100;
}

header .cta-button .button-text {
  color: #ffffff;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 14px;
}
/* end header */

/* start main offer section */
.main-offer {
  position: relative;
  background-image: url('../img/meat-main-screen.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 228px 0 248px;
  line-height: 1;
}

.main-offer h1 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.main-offer p {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-offer .pagination-carousel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% / 2 - 27px);
  left: 30px;
}
/* end main offer section */

/* start explore food menu section */
.explore-food-menu {
  position: relative;
  background-color: #edf1f3;
  border-bottom: 1px solid #dde3e7;
  margin: 0;
  padding: 25px 0;
}

.explore-food-menu .ribbon {
  position: absolute;
  top: -160px;
}

.explore-food-menu .ribbon-image {
  position: relative;
}

.explore-food-menu h2.label-food-menu {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0 auto;
}

.explore-food-menu .label-food-menu {
  position: absolute;
  bottom: 82px;
  right: 0;
  left: 0;
  max-width: 110px;
  width: 100%;
}

.explore-food-menu ul.contact-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.explore-food-menu .contact-menu li {
  list-style: none;
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.explore-food-menu .read-reviews, .explore-food-menu .home-delivery {
  border-right: 1px solid #dde3e7;
  padding-right: 32px;
}

.explore-food-menu .contact-menu a {
  margin-right: 15px;
}

.explore-food-menu .contact-menu a:last-child {
  margin-right: 0;
}

.explore-food-menu .contact-menu a.link-text {
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #14141d;
  max-width: 62px;
  width: 100%;
}

.explore-food-menu .home-delivery a.link-text {
  max-width: 125px;
}

.explore-food-menu li.phone-number {
  margin-right: 0;
}

.explore-food-menu .phone-number a {
  color: #14141d;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.explore-food-menu .contact-menu span.accent-color {
  font-size: 16px;
}
/* end explore food menu section */

/* start about restaurant section */
.about-restaurant {
  margin: 0;
  padding: 65px 0 100px;
  line-height: 1;
}

.about-restaurant .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about-restaurant .info-about {
  max-width: 545px;
  width: 100%;
}

.about-restaurant .info-about h2 {
  color: #14141d;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}

.about-restaurant .info-about p {
  color: #5c6369;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 40px;
}

.about-restaurant .read-more {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.about-restaurant .button-read-more {
  color: #ffffff;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fea100;
  border-radius: 5px;
  padding: 20px 35px;
  margin-right: 50px;
}

.about-restaurant .images-about {
  max-width: 550px;
  width: 100%;
  display: flex;
}

.about-restaurant .align-bottom {
  margin: 50px 10px 0 0;
}

.about-restaurant .bottom-image {
  margin-top: 8px;
}
/* end about restaurant section */

/* today special section */
.today-special {
  margin: 0;
  padding: 100px 0 0;
  line-height: 1;
  background-image: url('../img/food-bg-menu.png');
  background-repeat: no-repeat;
  background-size: auto 440px;
}

.today-special .header-pagination {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
